.header {
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5rem;
  background-color: #c8b6ff;

  @include medium {
	padding: 0 2rem;
  }
}

.menu__list-item {
  a {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.479);
    transition: color 0.3s ease;
    &:hover {
      color: #b217d9;
    }
  }
  display: inline-block;
  align-items: end;
  margin: 0 0.5rem;
  font-size: 16px;

  @include medium {
	font-size: 12px;
  }
}

.logo {
  display: flex;
  align-items: center;
  max-height: 12vh;
  padding-right: 3rem;

  @include medium {
	margin-left: 1rem;
	max-height: 10vh;
  }

  @include small {
	padding-right: 1rem;
  }
}
.ig {
  margin-left: 5rem;
  width: 30px;
  height: 30px;

  @include medium {
	width: 20px;
		height: auto;
		margin: 0 auto;
		padding-top: 8px;
  }
}
.menu__list {
  margin: 0 auto;
  align-items: end;
  
  @include medium {
	display: flex;
		align-items: center;
  }

  @include small {
	padding-left: 8%;
	margin-top: 4px;
  }
}
.navbar {
  width: 100%;
}

.button {
	@include medium {
		margin-right: 1rem;
	}
}

