
* {
	box-sizing: border-box;
}

body {
	min-height: 100vh;
	margin: 0;
	padding: 0;
	font-family: 'Montserrat', sans-serif;
	background-color: #f1ccfa;
	color: black;
}
.container {
	min-width: 100vw;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	min-width: 320px;

	@include medium {
		margin: 0 auto;
	}
}
.content {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	margin: 0 auto;
	padding: 0 3rem;
	background-color: #f1ccfa;

	@include medium {
		width: 100%;
		padding: 0;
		margin: 0 auto;
	}

	@include small {
		padding: 2rem 1rem;
		margin: 0 auto;
		width: 100%;
	}
}
p {
	margin: 0 auto;
	margin-top: 7px;
	width: 75%;
	text-align: justify;
	font-size: 18px;
	color: rgba($color: #000000, $alpha: 0.8);

	span {
		color: blueviolet;
		font-weight: bold;
	}

	a {
		text-decoration: none;
		color: blueviolet;
		font-weight: bold;

	}

	@include large {
		font-size: 15px;
	}

	@include medium {
		font-size: 12px;
	}
}


.content__box-title {
	font-size: 36px;
	text-align: center;
	padding-top: 8rem;
	margin: 1rem 0 1rem;
	font-weight: bold;
	letter-spacing: 3px;
	text-shadow: 3px 5px 5px;
	span {
		color: #b44dd1;
		font-style: oblique;
	}

	@include small {
		font-size: 30px;
	}
}
.content__box-subtitle {
	font-size: 30px;
	text-align: center;
	padding-top: 10px;
	color: blueviolet;

	@include medium {
		font-size: 26px;
	}
}
.content__box {
	display: flex;
	flex-direction: column;
	padding-top: 2rem;
	padding-bottom: 2rem;
}
.content__box-image {
	display: flex;
	margin: 0 auto;
	margin-bottom: 12px;
	width: 75%;
	height: auto;
	border-radius: 0.5rem;
	box-shadow: 15px -20px 50px -12px rgba(0, 0, 0, 0.6);
}
