


@media (max-width:992px) {
    p{
        font-size: 15px;
    }
}

@media (max-width:768px){


    .logo {
        margin-left: 1rem;
    }

    .ig {
        width: 20px;
        height: auto;
        margin: 0 auto;
        margin-right: 7px;
    }

    .menu-list {
        display: flex;
        align-items: end;
        padding-right: 10%;
    }

    .button {
        margin-right: 1rem;
    }

    .container{
        width: 100%;
        margin: 0 auto;

    }

    .content {
        width: 100%;
        margin: 0 auto;
    }

    .content-box__subtitle{
        font-size: 26px;
    }

    p{
        font-size: 12px;
    }

    .footer{
        justify-content: center;
        padding: 0;
    }


    .ubication {
        font-size: 10px;
    }

    .galery-box{
        flex: 100%;
        
    }


    
    
}


@media (max-width:576px) {
    .header { padding: 0 2rem;
        
    }

    .logo {
        max-height: 6vh;
        padding-right: 1rem;
        margin-left: 2rem;
        align-items: left;
    }

    .menu-list {
        padding-left: 8%;
        margin-top: 4px;
    }

    a {
        font-size: 12px;
    }

    .button {
        margin-right: 2rem;
    }

    .ig {
        margin-right: 6px;
        height: 17px;
        width: auto;
    }

    .content {
        padding: 2rem 1rem;
        margin: 0 auto;
        width: 100%;
    }

    p {
        font-size: 12px;
    }

    .tratamientos {
        padding-top: 4rem;
        display: grid;
        grid-template-columns: repeat(1, 1fr)
    }

}


